*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	background-color: rgb(216, 213, 213);
	font-family: "Roboto", sans-serif;
	width: 1600px;
	margin: 0 auto;
}

/* Header Section */

header {
	height: 85vh;
	background-image: url("./assets/images/image2.png");
	background-size: cover;
	background-position: right;
}

.appbar {
	background-color: rgba(0, 0, 0, 0.45);
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8rem;
}

.logo {
	display: flex;
	align-items: center;
}

.logo h1 {
	font-weight: 500;
	margin-left: 1rem;
	color: #f19201;
}

nav {
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-navigation {
	height: 100%;
	width: 70%;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-navigation a {
	font-size: 1.3rem;
	text-decoration: none;
	color: white;
}

.main-navigation a:hover,
.main-navigation a:active,
.main-navigation a:visited {
	color: #f19201;
}

nav button {
	padding: 1rem 1.5rem;
	border: none;
	font-size: 1.3rem;
	font-weight: 500;
	background-color: #f19201;
	color: white;
	cursor: pointer;
}

/* Hero Section of Header */
.hero {
	margin: 10rem 0 3rem 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
}

.hero h1 {
	font-size: 2.7rem;
}

.hero h1 span {
	display: block;
	line-height: 1.6;
}

.hero button {
	width: 10rem;
	padding: 1rem 1.25rem;
	margin-top: 6rem;
	font-size: 1.2rem;
	font-weight: 600;
	color: white;
	background-color: #f19201;
	border: none;
	cursor: pointer;
}
